<!-- <code>{{ filterForm.value | json }}</code> -->
<div class="container-fluid">
  <div class="row row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-3 py-md-3 pl-md-5">
      <div class="bd-example">
        <div class="btn-group">
          <h1 class="btn link-outline-warning">
            Фильтры<mat-icon>tune</mat-icon>
          </h1>
        </div>
      </div>
      <div
        class="accordion accordion-flush"
        id="accordionFlushExample"
        [formGroup]="filterForm"
      >
        <div class="accordion-item" *ngFor="let f of filters; index as k">
          <h2 class="accordion-header" id="flush-heading{{ k }}">
            <button
              class="accordion-button btn-warning"
              [ngClass]="{ collapsed: !filters[k].isOpen }"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#flush-collapse' + k"
              aria-expanded="false"
              [attr.aria-controls]="'flush-collapse' + k"
            >
              <span class="bottom-dashed">
                {{ filters[k].name }}
              </span>
            </button>
          </h2>
          <div
            id="flush-collapse{{ k }}"
            class="accordion-collapse collapse"
            [ngClass]="{ show: filters[k].isOpen }"
            [attr.aria-labelledby]="'flush-heading' + k"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div
                *ngIf="
                  filters[k].type === 'common' || filters[k].type === 'color'
                "
                [formArrayName]="filters[k].key"
              >
                <input #h type="hidden" value="5" />
                <div
                  class="form-check"
                  *ngFor="
                    let item of getFormArray(filters[k].key, +h.value);
                    index as i
                  "
                  (focusout)="setFilter()"
                >
                  <input
                    type="checkbox"
                    class="form-check-input btn-outline-warning"
                    [formControlName]="i"
                  />
                  <label class="form-check-label">
                    <span [ngStyle]="{ color: getOption(k, i, 'color') }">
                      <mat-icon *ngIf="filters[k].type === 'color'">
                        palette
                      </mat-icon>
                    </span>
                    <span class="text-dark">
                      {{ getOption(k, i, "name") }}
                    </span>
                    <span class="text-secondary">
                      {{ getOption(k, i, "productsCount") }}
                    </span>
                  </label>
                </div>
                <div class="col w-100" *ngIf="h.value==='5'">
                  <button
                    type="button"
                    class="btn link-dashed"
                    (click)="h.value = this.filterForm.get(filters[k].key)['controls'].length"
                  >
                    Показать все
                  </button>
                </div>
              </div>

              <div *ngIf="filters[k].type === 'range'" (blur)="setFilter()">
                <bm-range-slider
                  ngDefaultControl
                  [formControlName]="filters[k].key"
                  [value]="filters[k].min || 0"
                  [highValue]="filters[k].max || 100000"
                  [options]="{
                    floor: filters[k].min || 0,
                    ceil: filters[k].max || 100000,
                    animate: true,
                    hideLimitLabels: true,
                    hidePointerLabels: true
                  }"
                >
                </bm-range-slider>
                <!-- (valueChange)="setFilter()"
              (highValueChange)="setFilter()" -->
                <div
                  class="input-group text-warning d-flex justify-content-between"
                >
                  <input
                    type="number"
                    class="form-control text-warning"
                    [value]="getFormControl(filters[k].key).value[0]"
                    (focusout)="
                      getFormControl(filters[k].key).setValue([
                        $event.target['value'],
                        getFormControl(filters[k].key).value[1]
                      ])
                    "
                    (keydown.enter)="
                      getFormControl(filters[k].key).setValue([
                        $event.target['value'],
                        getFormControl(filters[k].key).value[1]
                      ])
                    "
                  />
                  <span class="input-group-text text-warning">
                    <mat-icon>horizontal_rule</mat-icon>
                  </span>
                  <input
                    type="number"
                    class="form-control text-warning"
                    [value]="getFormControl(filters[k].key).value[1]"
                    (focusout)="
                      getFormControl(filters[k].key).setValue([
                        getFormControl(filters[k].key).value[0],
                        $event.target['value']
                      ])
                    "
                    (keydown.enter)="
                      getFormControl(filters[k].key).setValue([
                        getFormControl(filters[k].key).value[0],
                        $event.target['value']
                      ])
                    "
                  />
                  <span class="input-group-text text-warning">₽</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content">
      <div class="bd-example">
        <div class="btn-group">
          <h1 class="btn link-outline-warning">Смартфоны</h1>
        </div>
      </div>
      <div class="bd-example">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="showGrid = false"
          >
            <mat-icon>format_list_bulleted</mat-icon>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="showGrid = true"
          >
            <mat-icon>apps</mat-icon>
          </button>
          <span class="btn link-outline-warning">Cортировать по</span>
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="setSortRate()"
          >
            популярности
          </button>
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="setSortPrice()"
          >
            <mat-icon>sort</mat-icon>Цене
          </button>
        </div>
      </div>

      <div *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          Something went wrong....
        </div>
      </div>

      <div *ngIf="!showGrid" class="list-group list-group-flush">
        <a
          class="list-group-item list-group-item-action d-flex justify-content-between"
          *ngFor="
            let row of productList$
              | async
              | paginate: (paging$ | async) || pagingConfig
          "
        >
          <form>
            <div class="form-group">
              <div class="row w-100 d-block d-sm-none d-md-none">
                <div class="col">
                  <h3 class="card-title">{{ row.name }}</h3>
                </div>
              </div>
              <span
                *ngIf="row.badges.length > 0"
                class="badge badge-secondary"
                [ngStyle]="{ 'background-color': row.badges[0].color }"
                >{{ row.badges[0].title }}</span
              >
              <div class="row">
                <div class="col-4">
                  <img
                    src="{{ row.thumbImageUrlConverted }}"
                    class="rounded mx-auto d-block float-left"
                    alt="{{ row.name }}"
                  />
                </div>
                <div class="col-5 d-none d-sm-block d-md-block">
                  <div class="card-body">
                    <h3 class="card-title">{{ row.name }}</h3>
                    <div class="col w-100">
                      <button
                        type="button"
                        class="btn link-dashed"
                        (click)="openDialog()"
                      >
                        <mat-icon class="link-warning">star</mat-icon
                        ><mat-icon class="link-warning">star</mat-icon
                        ><mat-icon class="link-warning">star</mat-icon
                        ><mat-icon class="link-warning">star</mat-icon
                        ><mat-icon class="link-warning">star</mat-icon>отзывов
                      </button>
                    </div>
                    <div class="col w-100">
                      <button type="button" class="btn link-dashed">
                        <mat-icon>assessment</mat-icon> Добавить в сравнение
                      </button>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let parameter of row.parameters">
                          <th scope="row">{{ parameter.name }}</th>
                          <td>{{ parameter.value }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card-body">
                    <h1 class="card-title">
                      {{ row.regionProduct.price | number: "1.1-1" }}
                    </h1>
                    <div class="col w-100 d-flex justify-content-between">
                      <button type="button" class="btn buttom-warning">
                        Купить
                      </button>
                      <button type="button" class="btn link-dashed">
                        Быстрый заказ
                      </button>
                    </div>
                    <div class="col">
                      <button
                        class="btn link-dashed"
                        *ngFor="
                          let deliveryMethod of row.regionProduct
                            .deliveryMethods
                        "
                      >
                        {{ deliveryMethod.type }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </a>
      </div>

      <div class="row" *ngIf="showGrid">
        <div
          class="row list-group-item list-group-item-action"
          *ngFor="
            let row of productList$
              | async
              | paginate: (paging$ | async) || pagingConfig
          "
          style="width: 18rem"
        >
          <form>
            <div class="form-group">
              <div class="col w-100">
                <h3 class="card-title">{{ row.name }}</h3>
              </div>
              <div class="col w-100">
                <img
                  src="{{ row.thumbImageUrlConverted }}"
                  class="rounded mx-auto d-block float-left"
                  alt="{{ row.name }}"
                />
              </div>
              <div class="col w-100">
                <div class="card-body">
                  <h1 class="card-title">
                    {{ row.regionProduct.price | number: "1.1-1" }}
                  </h1>
                  <div class="col w-100 d-flex justify-content-between">
                    <button type="button" class="btn buttom-warning">
                      Купить
                    </button>
                    <button type="button" class="btn link-dashed">
                      Быстрый заказ
                    </button>
                  </div>
                  <div class="col">
                    <button
                      class="btn link-dashed"
                      *ngFor="
                        let deliveryMethod of row.regionProduct.deliveryMethods
                      "
                    >
                      <mat-icon
                        *ngIf="deliveryMethod.type === 'Самовывоз'"
                        class="btn-outline-warning"
                      >
                        location_on</mat-icon
                      >
                      <mat-icon
                        *ngIf="deliveryMethod.type === 'Доставка за 2 часа'"
                        class="btn-outline-warning"
                      >
                        local_shipping
                      </mat-icon>
                      <mat-icon
                        *ngIf="deliveryMethod.type === 'Бесплатная доставка'"
                        class="btn-outline-warning"
                        >markunread_mailbox</mat-icon
                      >{{ deliveryMethod.type }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <pagination-controls
        (pageChange)="setPage($event)"
        id="server"
      ></pagination-controls>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
