<div class="container-fluid">
  <div class="row row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-3 bd-sidebar" [formGroup]="filterForm">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let f of filters; index as k">
          expanded = {{ filters[k].isOpen }}
          {{ filters[k].name }}

          <ul
            *ngIf="filters[k].type === 'common'"
            [formArrayName]="filters[k].key"
          >
            <li
              *ngFor="
                let item of getFormArray(filters[k].key).controls;
                index as i
              "
            >
              <mat-checkbox [formControlName]="i">
                {{ getOption(k, i, "name") }}
                <span style="color: gray"
                  >({{ getOption(k, i, "productsCount") }})</span
                >
              </mat-checkbox>
            </li>
          </ul>

          <ul
            *ngIf="filters[k].type === 'color'"
            [formArrayName]="filters[k].key"
          >
            <li
              *ngFor="
                let item of getFormArray(filters[k].key).controls;
                index as i
              "
            >
              <mat-checkbox [formControlName]="i">
                <mat-icon [ngStyle]="{ color: getOption(k, i, 'color') }"
                  >palette</mat-icon
                >
                {{ getOption(k, i, "name") }}
                <span style="color: gray">
                  ({{ getOption(k, i, "productsCount") }})
                </span>
              </mat-checkbox>
            </li>
          </ul>

          <bm-range-slider
            *ngIf="filters[k].type === 'range'"
            ngDefaultControl
            [formControlName]="filters[k].key"
            [value]="filters[k].min || 0"
            [highValue]="filters[k].max || 100000"
            [options]="{
              floor: filters[k].min || 0,
              ceil: filters[k].max || 100000,
              animate: true,
              hideLimitLabels: true,
              hidePointerLabels: true
            }"
          >
          </bm-range-slider>
          <mat-form-field *ngIf="filters[k].type === 'range'">
            <input
              matInput
              [ngModel]="getFormControl(filters[k].key).value[0]"
              (ngModelChange)="
                getFormControl(filters[k].key).setValue([
                  $event,
                  getFormControl(filters[k].key).value[1]
                ])
              "
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
          <mat-icon *ngIf="filters[k].type === 'range'"
            >horizontal_rule</mat-icon
          >
          <mat-form-field *ngIf="filters[k].type === 'range'">
            <input
              matInput
              [ngModel]="getFormControl(filters[k].key).value[1]"
              (ngModelChange)="
                getFormControl(filters[k].key).setValue([
                  getFormControl(filters[k].key).value[0],
                  $event
                ])
              "
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
        </li>
      </ul>
    </div>
    <main class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content">
      <div class="btn-toolbar btn-group-sm" role="toolbar">
        <button
          type="button"
          class="btn btn-warning"
          (click)="showGrid = false"
        >
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button type="button" class="btn btn-warning" (click)="showGrid = true">
          <mat-icon>grid_on</mat-icon>
        </button>
        <span>Cортировать по</span>
        <button type="button" class="btn btn-warning">Популярности</button>
        <button type="button" class="btn btn-warning">
          <mat-icon>sort</mat-icon>Цене
        </button>
      </div>

      <div *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          Something went wrong....
        </div>
      </div>

      <div *ngIf="!showGrid" class="list-group list-group-flush">
        <a
          class="list-group-item list-group-item-action d-flex justify-content-between"
          *ngFor="
            let row of productList$
              | async
              | paginate: (paging$ | async) || pagingConfig
          "
        >
          <form>
            <div class="form-group">
              <div class="row w-100 d-block d-sm-none d-md-none">
                <div class="col">
                  <h3 class="card-title">{{ row.name }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <img
                    src="{{ row.thumbImageUrlConverted }}"
                    class="rounded mx-auto d-block float-left"
                    alt="{{ row.name }}"
                  />
                </div>
                <div class="col d-none d-sm-block d-md-block">
                  <div class="card-body">
                    <h3 class="card-title">{{ row.name }}</h3>
                    <div class="col w-100">
                      <button type="button" class="btn btn-link">
                        <mat-icon>assessment</mat-icon> Добавить в сравнение
                      </button>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let parameter of row.parameters">
                          <th scope="row">{{ parameter.name }}</th>
                          <td>{{ parameter.value }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col">
                  <div class="card-body">
                    <h1 class="card-title">
                      {{ row.regionProduct.price | number: "1.1-1" }}
                    </h1>
                    <div class="col w-100 d-flex justify-content-between">
                      <button type="button" class="btn btn-warning">
                        Купить
                      </button>
                      <button type="button" class="btn btn-link">
                        Быстрый заказ
                      </button>
                    </div>
                    <div class="col">
                      <button
                        class="btn btn-link"
                        *ngFor="
                          let deliveryMethod of row.regionProduct
                            .deliveryMethods
                        "
                      >
                        {{ deliveryMethod.type }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </a>
      </div>

      <div class="row" *ngIf="showGrid">
        <div
          class="row list-group-item list-group-item-action"
          *ngFor="
            let row of productList$
              | async
              | paginate: (paging$ | async) || pagingConfig
          "
          style="width: 18rem"
        >
          <form>
            <div class="form-group">
              <div class="col w-100">
                <h3 class="card-title">{{ row.name }}</h3>
              </div>
              <div class="col w-100">
                <img
                  src="{{ row.thumbImageUrlConverted }}"
                  class="rounded mx-auto d-block float-left"
                  alt="{{ row.name }}"
                />
              </div>
              <div class="col w-100">
                <div class="card-body">
                  <h1 class="card-title">
                    {{ row.regionProduct.price | number: "1.1-1" }}
                  </h1>
                  <div class="col w-100 d-flex justify-content-between">
                    <button type="button" class="btn btn-warning">
                      Купить
                    </button>
                    <button type="button" class="btn btn-link">
                      Быстрый заказ
                    </button>
                  </div>
                  <div class="col">
                    <button
                      class="btn btn-link"
                      *ngFor="
                        let deliveryMethod of row.regionProduct.deliveryMethods
                      "
                    >
                      {{ deliveryMethod.type }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <pagination-controls
        (pageChange)="setPage($event)"
        id="server"
      ></pagination-controls>
    </main>
  </div>
</div>
