@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  margin: 0;
}

body,
span,
label,
button {
  font-family: "Officina Serif" !important;
}

.bottom-dashed {
  border-bottom: 1px dashed #767676 !important;
}

.buttom-warning {
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s !important;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s !important;
  transition: box-shadow 0.1s, transform 0.1s !important;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s,
    -webkit-transform 0.1s !important;
  background: #fad485 !important;
  -webkit-box-shadow: 0 3px 0 0 #ebb16f, 0 4px 0 0 #d99a59,
    0 4px 8px 0 rgb(102 55 0 / 40%) !important;
  box-shadow: 0 3px 0 0 #ebb16f, 0 4px 0 0 #d99a59,
    0 4px 8px 0 rgb(102 55 0 / 40%) !important;
}

.link-dashed {
  border-bottom: 1px dashed #767676 !important;
  font-family: Officina Serif !important;
  font-size: 16.5px !important;
  letter-spacing: 0.3px !important;
  cursor: pointer !important;
  text-align: center !important;
  transition: border-color 0.15s !important;
}
